.configure {
    position: absolute;
    height: 200px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    z-index: 999;
    bottom: 5%;
    left: 21%;
    box-shadow: 0px 2px 22px 0px rgba(126, 122, 122, 0.25);
  }
  
  .closeIcon {
    float: right;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .title{
    padding: 20px 10px 10px 20px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .preference{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  }
  
  .selectPath{
    font-size: 18px;
    font-weight: 500;
  }
  
  .menuBtn{
    border: 2px solid #c0bebe;
    padding: 4px 15px;
    font-size: 18px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    cursor: pointer;
  }
  
  .menu{
    position: absolute;
    right: 39%;
    background: white;
    width: 150px;
    box-shadow: 0px 2px 22px 0px rgba(126, 122, 122, 0.25);
    bottom: 24%;
    border-radius: 6px;
    padding: 5px 20px;
    box-sizing: border-box;
  }
  
  .menuItem{
    padding: 10px;
    font-size: 16px;
  }
  
  .progressContainer {
    position: absolute;
    height: 50px;
    width: 69%;
    background-color: white;
    border-radius: 10px;
    z-index: 999;
    bottom: 5%;
    left: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
  }
  
  .progress{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
  }
  
  progress::-moz-progress-bar { background: blue; }
  progress::-webkit-progress-value { background: blue; }
  progress {
     color: blue;
     inline-size: 500px;
   }

  .progressDotIcon{
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .progressBar{
    width: 500px;
    height: 2px;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
  }

  
   .showBtn{
    border: none;
    padding: 8px 31px;
    font-size: 18px;
    border-radius: 6px;
    background-color: blue;
    border-radius: 21px;
    color: white;
    cursor: pointer;
  }
  
  .menuIcon {
    font-size: 20px;
  }
  
  .carMenu{
    position: absolute;
    right: 67%;
    background: white;
    width: 200px;
    box-shadow: 0px 2px 22px 0px rgba(126, 122, 122, 0.25);
    bottom: 24%;
    border-radius: 6px;
    padding: 10px 0px;
    box-sizing: border-box;
    background: grey;
  }
  
  .carItem{
    padding: 5px 20px;
    border-radius: 10px;
  }
  
  .playBtn{
    width: 50px;
    height: 30px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .speedSliderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    background-color: blue;
    height: 5px;
    gap: 2px;
    position: relative;
  }
  
  
  .speedTracker{
    width: 48px;
    color: white;
    height: 5px;
    cursor: pointer;
  }